@font-face{
    font-family: 'Sofia-Regular';
    src: url('fonts/MaRiMoO_Typeface.otf');
    font-weight: normal;
    font-style: normal;
}
body{
	margin: 0;
    min-width: 490px;
    font-family: 'Sofia-Regular' !important;
    color: #fff !important;
}
body .home{
	background: rgb(31, 31,31);
	text-align: center;	
	position: relative;
    width: 100%;
    margin: 0;    
     min-height: 630px;
}
.home .mainInfo{
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: auto;
}
.home p{
	font-size: 55px;
    letter-spacing: 5px;
}
.home .linkToOtherPage{
    position: absolute;
    top: 73%;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
}
.home div.linkToOtherPage{
    top: 90%;
}
.home .linkToOtherPage a{
    color: #fff;
    font-size: 55px;
}
#aboutMe p {
    font-size: 15px;
    text-align: justify;
    margin-left: 20px;
    line-height: 30px;
    margin-right: 20px;
    white-space: pre-line;
}
#aboutMe p:first-of-type {
    font-size: 20px;
    padding-top: 100px;
}
#aboutMe .image{
    display: inline-block;
    float: right;
}
#aboutMe .image img{
    border-radius: 10px;
    margin-top: 103px;
    height: 300px;
    box-shadow: 0 0 10px #fff;
}
#contact{
    position: relative;
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 30px;    
    background-color:rgb(31, 31,31);
    width: 100%;
    margin: 0;
    min-height: 630px;
}
#contact .form-control{
    resize: none;
    border-radius: 8px;
    width: 350px;
    margin: 0 auto;
}
#contact .form-control:focus{
   outline:none;
}
#contact #container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}
#contact .vk-fb {
    height: 35px;
    margin: 0 auto;
}
#contact p {
    margin: 0px;
    margin-bottom: 20px;
}
#contact p:first-of-type {
    padding-top: 15px;
}
#contact .form-group{
    position: absolute;
}
#contact #btn-send{
    background: rgb(31, 31,31);
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 2px 0px #fff;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
}
#contact .linkToOtherPage{
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 48%;
    color: #fff;
    font-size: 55px;
}
@media screen and (max-height: 600px){
    #aboutMe p:first-of-type {
        padding-top: 25px;
    }
    #aboutMe p:nth-of-type(3){
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media screen and (max-width: 1145px){
    #aboutMe p:first-of-type {
        padding-top: 100px;
    }
    #aboutMe p:nth-of-type(3){
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
@media screen and (max-width: 991px){
    #aboutMe p:first-of-type {
        padding-top: 25px;
    }
    #aboutMe p:nth-of-type(3){
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}